# 第10章 时间序列

# 主要内容
1. 生成日期范围
2. 日期频率转换 
3. 数据频率转换

# 1.生成日期范围

lidate_range

In [3]:
import pandas as pd
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

** 生成特定时间间隔的时间序列**   
  默认情况下，date_range产生按天计算的时间点，可以利用period参数设置时间间隔

In [4]:
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [5]:
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

** 生成由工作日日期组成的时间序列 **  
用“BM”(Business end of month)频率

In [6]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

**生成滞后或者超前数据**  
利用shift函数即可生成

In [8]:
import numpy as np
ts = pd.Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.617507
2000-02-29    0.109676
2000-03-31   -0.403095
2000-04-30   -0.237846
Freq: M, dtype: float64

In [9]:
ts.shift(2)
# 数据后移

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.617507
2000-04-30    0.109676
Freq: M, dtype: float64

In [10]:
ts.shift(-2)
#数据前移

2000-01-31   -0.403095
2000-02-29   -0.237846
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [11]:
# 生成百分比变化
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.822389
2000-03-31   -4.675323
2000-04-30   -0.409951
Freq: M, dtype: float64

如果频率已知，则可以对索引而不是数据进行位移

In [12]:
ts.shift(2, freq='M')

2000-03-31    0.617507
2000-04-30    0.109676
2000-05-31   -0.403095
2000-06-30   -0.237846
Freq: M, dtype: float64

In [13]:
ts.shift(3, freq='D')
# 以天为单位，位移3个单位

2000-02-03    0.617507
2000-03-03    0.109676
2000-04-03   -0.403095
2000-05-03   -0.237846
dtype: float64

In [14]:
ts.shift(1, freq='3D')
# 以3天为1个单位，位移1个单位

2000-02-03    0.617507
2000-03-03    0.109676
2000-04-03   -0.403095
2000-05-03   -0.237846
dtype: float64

# 2.日期的频率转换

# 2.1年度日期——>月度日期

假如我们有一个年度时期，希望将它转换为当年年初或者年末的一个月度时期，可以用asfreq函数

In [21]:
p = pd.Period('2007', freq='A-DEC')
p

Period('2007', 'A-DEC')

In [22]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [23]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [25]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2006   -0.508277
2007    0.262850
2008    1.142668
2009    0.120520
Freq: A-DEC, dtype: float64

In [26]:
ts.asfreq('M', how='start')

2006-01   -0.508277
2007-01    0.262850
2008-01    1.142668
2009-01    0.120520
Freq: M, dtype: float64

In [27]:
ts.asfreq('B', how='start')

2006-01-02   -0.508277
2007-01-01    0.262850
2008-01-01    1.142668
2009-01-01    0.120520
Freq: B, dtype: float64

按季度计算的时间频率

In [28]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [29]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [30]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

# 2.2月度时期——>年度时期

In [33]:
rng = pd.date_range('1/1/2000', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31    1.127276
2000-02-29   -1.162530
2000-03-31    0.885282
Freq: M, dtype: float64

In [34]:
pts = ts.to_period()
pts

2000-01    1.127276
2000-02   -1.162530
2000-03    0.885282
Freq: M, dtype: float64

# 3.数据的频率转换

# 3.1高频数据——>低频数据

从高频到低频比较简单，比如利用1分钟频率数据生成5分钟频率数据

In [36]:
rng = pd.date_range('1/1/2000', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

利用求和方式转化为5分钟数据

In [37]:
ts.resample('5min', how='sum')

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if __name__ == '__main__':

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

可用lebel来标记边界

In [39]:
ts.resample('5min', how='sum', closed='left', label='right')

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if __name__ == '__main__':

2000-01-01 00:05:00    10
2000-01-01 00:10:00    35
2000-01-01 00:15:00    21
Freq: 5T, dtype: int32

** OHLC重抽样**

金融数据中常包括以下四个值：开盘价open、收盘价close、最高价high和最低价low，利用how = 'ohcl'可以方便地计算这四个值的DataFrame

In [40]:
ts.resample('5min', how='ohlc')

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).ohlc()
  if __name__ == '__main__':

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

** 通过groupby进行重抽样**

例如，想要根据月份进行分组

In [42]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = pd.Series(np.arange(100), index=rng)
ts

2000-01-01     0
2000-01-02     1
2000-01-03     2
2000-01-04     3
2000-01-05     4
2000-01-06     5
2000-01-07     6
2000-01-08     7
2000-01-09     8
2000-01-10     9
2000-01-11    10
2000-01-12    11
2000-01-13    12
2000-01-14    13
2000-01-15    14
2000-01-16    15
2000-01-17    16
2000-01-18    17
2000-01-19    18
2000-01-20    19
2000-01-21    20
2000-01-22    21
2000-01-23    22
2000-01-24    23
2000-01-25    24
2000-01-26    25
2000-01-27    26
2000-01-28    27
2000-01-29    28
2000-01-30    29
              ..
2000-03-11    70
2000-03-12    71
2000-03-13    72
2000-03-14    73
2000-03-15    74
2000-03-16    75
2000-03-17    76
2000-03-18    77
2000-03-19    78
2000-03-20    79
2000-03-21    80
2000-03-22    81
2000-03-23    82
2000-03-24    83
2000-03-25    84
2000-03-26    85
2000-03-27    86
2000-03-28    87
2000-03-29    88
2000-03-30    89
2000-03-31    90
2000-04-01    91
2000-04-02    92
2000-04-03    93
2000-04-04    94
2000-04-05    95
2000-04-06    96
2000-04-07    97
2000-04-08    98
2000-04-09    99
Freq: D, dtype: int32

In [48]:
ts.groupby(lambda x: x.month).mean()

1    15
2    45
3    75
4    95
dtype: int32

# 3.2低频数据——>高频数据

由高频到低频数据会导致缺失值，这时我们需要用到填充法或者插值法。

In [49]:
frame = pd.DataFrame(np.random.randn(2, 4),
                  index=pd.date_range('1/1/2000', periods=2, freq='W-WED'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05  0.468176 -0.699075 -1.371098  1.761972
2000-01-12 -1.228909 -0.429105  0.969994 -0.721007

In [50]:
df_daily = frame.resample('D')
df_daily

C:\Anaconda3\lib\site-packages\IPython\utils\dir2.py:65: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  canary = getattr(obj, '_ipython_canary_method_should_not_exist_', None)
C:\Anaconda3\lib\site-packages\IPython\utils\dir2.py:74: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  m = getattr(obj, name, None)

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

我们可以用前面一个数字进行填充

In [51]:
frame.resample('D', fill_method='ffill')

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ffill()
  if __name__ == '__main__':

            Colorado     Texas  New York      Ohio
2000-01-05  0.468176 -0.699075 -1.371098  1.761972
2000-01-06  0.468176 -0.699075 -1.371098  1.761972
2000-01-07  0.468176 -0.699075 -1.371098  1.761972
2000-01-08  0.468176 -0.699075 -1.371098  1.761972
2000-01-09  0.468176 -0.699075 -1.371098  1.761972
2000-01-10  0.468176 -0.699075 -1.371098  1.761972
2000-01-11  0.468176 -0.699075 -1.371098  1.761972
2000-01-12 -1.228909 -0.429105  0.969994 -0.721007

In [53]:
frame.resample('D', fill_method='ffill', limit=2)
# 只填充2个

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ffill(limit=2)
  if __name__ == '__main__':

            Colorado     Texas  New York      Ohio
2000-01-05  0.468176 -0.699075 -1.371098  1.761972
2000-01-06  0.468176 -0.699075 -1.371098  1.761972
2000-01-07  0.468176 -0.699075 -1.371098  1.761972
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.228909 -0.429105  0.969994 -0.721007